# Ignore everything by default
**

# Re-include source directories
!cmd/
!internal/

# Re-include Go source files
!cmd/**/*.go
!internal/**/*.go

# Exclude tests from the production image build context
**/*_test.go

# Go modules
!go.mod
!go.sum
